.form {
  max-width: 550px;
  width: 100%;
  margin: auto;
  padding: 28px 32px;
  border-radius: 16px;
  border: 1px solid var(--redbgstroke);
  background: #000;
}

.headerForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  margin-bottom: 25px;
}

.label {
  display: inline-block;
  color: var(--txt-secondary);
  text-transform: capitalize;
}

.input {
  width: 100%;
  height: 58px;
  padding: 20px 24px 16px 24px;
  border-radius: 38px;
  border: 1px solid var(--border);
  background: var(--bg-input);
  color: var(--txt-color);
  font-size: 16px;
}

.input:placeholder {
  color: var(--txt-opacity);
}

.title {
  font-family: "chinese-rocks-regular", sans-serif;
  font-size: 24px;
  display: block;
  color: whitesmoke;
  text-transform: uppercase;
  text-align: left;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.span {
  color: var(--txt-color);
}

.btnMax {
  position: absolute;
  right: 35px;
  top: 55px;
  background-color: var(--bg-input);
  border: transparent;
  color: var(--red-txt);
  color: var(--red-txt);
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

.listPer {
  display: flex;
  justify-content: space-between;
}

.itemPer {
  padding: 13px 42px;
  border-radius: 38px;
  border: 1px solid var(--border);
  background: var(--bg-input);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.itemPer:hover {
  border-color: var(--red-txt);
}

.btnInfo {
  display: inline-block;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 20px;
  background: var(--bg);
  background-image: url("../../../public/images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 18px;
  border-radius: 27.5px;
  color: var(--txt-color);
  background: var(--red-txt);
  border-color: var(--red-txt);
  box-shadow: 0px 25px 74px -30px rgba(0, 0, 0, 0.45);
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
}
