.toolltipContainer {
  position: relative;
}

.btnTooltip {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 20px;
  background: var(--bg);
}

.tooltip {
  position: absolute;
  max-width: 50%;
  top: -35px;
  left: 60px;
  background-color: var(--bg-input);
  padding: 10px;
  border: 1px solid var(--bg);
  border-radius: 10px;
  color: var(--txt-opacity);
}
